# Ignorar archivos y carpetas del sistema
.bash_history
.bashrc
.cache/
.cargo/
.git_private_logs/
.gitconfig
.lesshst
.termux/
.wget-hsts

# Ignorar archivos innecesarios
*.log
*.txt
*.tar.gz
*.json

# Ignorar otras carpetas que no son scripts
Sofia4/
Termux-DeepSpeech/
llama.cpp/
portaudio/
vosk-api/
xmrig/
